
  <div class="cats-block">
    <div class="image-wrapper">
      <div class="cat-image"><a href="{{ file_url(image['#uri']) }}" target="_blank">{{ image }}</a></div>
    </div>
    <div class="cat-name">{{ name }}</div>
    <div class="cat-email">{{ email }}</div>
    <div class="cat-timestamp">{{ timestamp }}</div>
    {% if user.hasPermission('administer nodes') %}
      <div class="cat-btn">
        <div class="edit-cat"><a href="/leelee/editcat/{{ id }}" class="use-ajax edit-cat-btn" data-dialog-type="modal"><img
              src="/modules/custom/leelee/images/edit.png" alt="edit" class="edit-img"></a></div>
        <div class="delete-cat"><a href="/leelee/deletecat/{{ id }}" class="use-ajax delete-cat-btn" data-dialog-type="modal"><img
              src="/modules/custom/leelee/images/delete.png" alt="delete" class="delete-img"></a></div>
      </div>
    {% endif %}
  </div>
