
  <div class="cats-block">
    <div class="image-wrapper">
      <div class="cat-image"><a href="{{ file_url(image['#uri']) }}" target="_blank">{{ image }}</a></div>
    </div>
    <div class="cat-name">{{ name }}</div>
    <div class="cat-email">{{ email }}</div>
    <div class="cat-timestamp">{{ timestamp }}</div>
  </div>
